/ud3/03-Futbola-Herentzia/build/
/ud3/04-Monstruoak/nbproject/private/
/ud3/04-Monstruoak/build/
/ud3/05-Erosketak/build/
/ud4/HiztegiaSQLite/nbproject/private/
/ud4/HiztegiaSQLite/build/
/ud4/HiztegiaSQLite/dist/
/ud4/HiztegiaSQLiteMVC/nbproject/private/
/ud4/HiztegiaSQLiteMVC/build/
/ud4/HiztegiaSQLiteMVC/dist/
/ud4/StreamekinLanean/nbproject/private/
/ud4/StreamekinLanean/build/
/ud4/HiztegiaSQLitePOJO/nbproject/private/
/ud4/HiztegiaSQLitePOJO/build/
